.contact-container {
    width: 100%;
    min-height: 50vh;
    box-shadow: 10px 12px 26px -15px #4f259c;
    border-radius: 15px;
    background-color: #EFEFEF;
}

.contact-title {
    font-size: 2rem;
    font-weight: 700;
    color: #4f259c;
    text-align: left;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.input-onde {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #eceaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.btn-onde {
    background-color: #4f259c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-onde:hover {
    background-color: #3f158c;
}