.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s;
  padding: 0.6rem;
  cursor: pointer;
}

.event-card-vr {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s;
  padding: 0.6rem;
  cursor: pointer;
  gap: 0.5rem;
}

.event-card-vr:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.event-card-image {
  width: 100%;
  height: 150px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  border-radius: 10px;
}

.event-card-image-vr {
  width: 200px;
  height: 100px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  border-radius: 10px;
}

.eci-vr-ext{
  height: 130px;
}

.content-vr {
  max-width: 50%;
}

.organizer-card {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;
  padding-inline: 1rem;
  justify-items: center;
  align-items: center;
  gap: 0.9rem;
  background-color: white;
  min-width: 200px;
}

.organizer-card-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.local-category {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.local-category:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}