@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  background-color: #7034D4;
  width: 100%;
  max-height: fit-content;
  z-index: 1000;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: start;
  gap: 3rem;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding-inline: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
    width: 50px !important;
    height: 50px !important;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu li {
  margin: 0 1rem;
  position: relative;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* Dropdown menu styles */
.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
.menu-bar-mobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  padding: 20px;
  height: 88vh;
  margin-top: 12vh;
  z-index: 999999999;
}

.menu-bar-mobile p{
  color: black;
}

.text-menu {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.text-menu a {
  color: #333;
  text-decoration: none;
}

.text-menu a:hover {
  color: #ff812e;
}